.content__list-image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;


  .item-image {
    position: relative;
    z-index: 1;
    img {
      transition: 0.6s;
      width: 100%;
      position: relative;
      z-index: -1;
      vertical-align: middle;
    }

    .feature-top {
      background-color: $cyan-color;
      position: absolute;
      top: 8%;
      right: 15%;
      width: 47px;
      height: 47px;
      color: #fff;
      font-size: 13px;
      border-radius: 50%;
      @include flex-center;
      display: none;
    }
  }
}
