$italic-font: "Satisfy", cursive;
$primary-font: "Poppins", cursive;
$cyan-color: #3fd0d4;
$cyan-darker-color: #3abdc1;
$text-color: #26878a;
$text-color-dark: #212121;
$text-color-gray: #a5a5a5;
$text-color-gray-50: #505050;
$bg-color-f8: #f8f8f8;

//slider
$distantToTop: 30px;
$timeToTop: 1s;
